In [1]:
import pandas as pd

excel_file = pd.ExcelFile("DFs-MRV-Limpo.xlsx", engine="openpyxl")

BP = pd.read_excel(excel_file, "BP")
DFC = pd.read_excel(excel_file, "DFC")
DRE = pd.read_excel(excel_file, "DRE")

In [2]:
BP.dropna(how='all', axis='columns', inplace=True)
BP.head(3)

  MRV ON (R$ em milhares)      2016      2017      2018      2019      2020
0             Ativo Total  12327013  14558500  13636891  14686323  18062015
1        Ativo Circulante   7120084   8315552   7861258   7801154   8564095
2    Caixa e Equivalentes   1763552    713123    794852    674919   1080705

In [3]:
DFC.dropna(how='all', axis='columns', inplace=True)
DFC.head(3)

          MRV ON (R$ em milhares)     2017     2018     2019     2020
0  (+) Caixa Gerado por Operações   332400   625606   -98245   689934
1      Caixa Gerado nas Operações  1053428  1275794  1282107  1237169
2                   Lucro Líquido   700024   758137   747876   620992

In [4]:
DRE.dropna(how='all', axis='columns', inplace=True)
DRE.head(3)

           MRV ON (R$ em milhares)     2017     2018     2019     2020
0  (+) Receita Líquida Operacional  4759888  5418995  6055722  6646359
1  (-) Custo dos Produtos Vendidos  3147749  3620489  4213455  4772021
2                  (=) Lucro Bruto  1612139  1798506  1842267  1874338

In [36]:
DRE.loc[DRE["MRV ON (R$ em milhares)"] == "(+) Receita Líquida Operacional"][2017].values[0]

4759888

In [45]:
BP.loc[BP["MRV ON (R$ em milhares)"] == "Ativo Total"][2017].values[0]

14558500

In [59]:
def getValue(df, nome_coluna_principal, ano, coluna_principal="MRV ON (R$ em milhares)"):
    return df[df[coluna_principal] == nome_coluna_principal][ano].values[0]

In [60]:
getValue(BP, 'Ativo Total', 2018)

13636891

In [64]:
DFC["MRV ON (R$ em milhares)"]
# getValue(DFC, 'Caixa Gerado nas Operações', 2018)

KeyError: 'MRV ON (R$ em milhares) '